---
title: Galerie
layout: compress
---
<!DOCTYPE html>
<html lang="de">

<head>
    {% include meta.html %}
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css">
    <script src="https://kit.fontawesome.com/6a97161b76.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/images/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/gallery.css">
</head>

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight has-text-centered has-background-grain">
        <div style="min-height: 3.25rem;"></div>
        <div class="hero-body" style="align-items: normal;">
            {% include gallery.html %}
        </div>
    </section>
    {% include footer.html %}
</body>
</html>