<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
<section class="hero is-fullheight has-text-centered has-background-grain" id="contact">
    <div class="section-header">
        <h2 class="section-header-text subtitle has-text-white is-size-2 is-uppercase has-text-weight-bold">Kontakt</h2>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column has-text-left">
                    <h2 class="subtitle is-uppercase has-text-weight-bold has-text-maroon">Obra Werkstatt</h2>
                    <b>Besuchen Sie mich gerne in der Werkstatt!</b>
                    <br>
                    <b>&Ouml;ffnungszeiten:</b> <i>Nur nach Vereinbarung.</i>
                    <br>
                    <br>
                    Augsburgerstr. 6
                    <br>
                    87672 Roßhaupten
                    <br>
                    <br>
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/phone.svg" style="vertical-align: middle">0179-9028 408
                    <br>
                    <b>@</b> mail(at)obra-allgaeu.de
                </div>

                <div class="column has-text-left">
                    <h2 class="subtitle is-uppercase has-text-weight-medium has-text-maroon">Kontakt</h2>
                    <form action="{{ site.baseurl }}/submit-contact-form.php" method="post">
                        <div class="columns">
                            <div class="column">
                                <label for="salutation">Anrede*</label>
                                <select id="salutation" name="salutation" required>
                                    <option value="woman">Frau</option>
                                    <option value="man">Herr</option>
                                    <option value="diverse">Div.</option>
                                    <option value="family">Familie</option>
                                </select>
                            </div>
                            <div class="column">
                                <label for="fname">Vorname</label>
                                <input id="fname" name="fname" placeholder="Vorname" type="text">
                            </div>
                            <div class="column">
                                <label for="lname">Nachname*</label>
                                <input id="lname" name="lname" placeholder="Nachname" required type="text">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <label for="subject">Betreff*</label>
                                <input id="subject" name="subject" placeholder="Betreff" required type="text">
                            </div>
                            <div class="column">
                                <label for="email">Email*</label>
                                <input id="email" name="email" placeholder="Email" required type="email">
                            </div>
                        </div>

                        <label for="message">Ihre Nachricht*</label>
                        <textarea id="message" name="message" placeholder="Ihre Nachricht" required style="height:200px"></textarea>

                        <input id="agree_terms" required type="checkbox">
                        <label for="agree_terms">Ich habe die Datenschutzerklärung zur Kenntnis genommen und bin damit
                            einverstanden dass meine Daten elektronisch verarbeitet und
                            gespeichert werden.*</label>
                        <div class="cf-turnstile" data-sitekey="0x4AAAAAAA_oZ5ho_NhGZW1g" data-language="de-de" data-size="flexible" data-theme="light"></div>
                        <div class="container has-text-centered">
                            <input type="submit" value="Senden">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>