<div id="gallery-detail" class="gallery-detail-container">
    <div id="gallery" class="gallery-detail-gallery">
        <svg onclick="prevPicture()" width="20" height="32" viewBox="0 0 20 32" class="gallery-arrow" xmlns="http://www.w3.org/2000/svg">
            <path d="M 18,2 L 2,16 18,30"></path>
        </svg>
        <svg onclick="nextPicture()" width="20" height="32" viewBox="0 0 20 32" style="grid-column-start: 3;" class="gallery-arrow" xmlns="http://www.w3.org/2000/svg">
            <path d="M 2,2 L 18,16 2,30"></path>
        </svg>
        <div id="gallery-detail-bottom" style="width: 100%; grid-column-end: 3;"></div>
    </div>
    <div style="display: flex; flex-flow: column">
        <div id="entry-name" style="font-size: x-large;"></div>
        <div id="entry-desc" class="gallery-detail-desc"></div>
    </div>
    <div style="grid-column: 1 / span 2"></div>
</div>
<script>
    let detailEntry = null;
    let detailPictureSelection = 0;

    function initDetail(e) {
        detailEntry = e;
        document.getElementById("entry-name").innerHTML = e.name;
        document.getElementById("entry-desc").innerHTML = e.desc;
        let pictureIndicators = "";
        for (let j = 0; j < e.pictures.length; j++) {
            pictureIndicators += `<span class="picture-indicator" id="detail-picture-indicator-${j}" onclick="setDetailPicture(${j})">&bull;</span>`;
        }
        let bottom = document.getElementById(`gallery-detail-bottom`);
        bottom.innerHTML = pictureIndicators;
        detailPictureSelection = 0;
        if (e.pictures.length > 0) {
            setDetailPicture(0);
        }
    }

    function prevPicture() {
        if (detailPictureSelection > 0) {
            setDetailPicture(detailPictureSelection - 1);
        } else {
            setDetailPicture(detailEntry.pictures.length - 1);
        }
    }

    function nextPicture() {
        if (detailPictureSelection < detailEntry.pictures.length - 1) {
            setDetailPicture(detailPictureSelection + 1);
        } else {
            setDetailPicture(0);
        }
    }

    function setDetailPicture(pi) {
        let imageSrc = `{{ site.baseurl }}/gallery-images/${detailEntry.pictures[pi].file_name}`;
        let image = new Image();
        image.src = imageSrc;
        document.getElementById(`detail-picture-indicator-${detailPictureSelection}`).innerHTML = "&bull;";
        document.getElementById(`detail-picture-indicator-${pi}`).innerHTML = "&#9679;";
        document.getElementById(`gallery`).setAttribute("style", `background-image: url(${imageSrc});`);
        detailPictureSelection = pi;
    }

    let gallery = document.getElementById("gallery");
    gallery.addEventListener("touchstart", handleTouchStart);
    gallery.addEventListener("touchend", handleTouchEnd);
    let startX = null;

    function handleTouchStart(e) {
        let x = e.changedTouches[0].pageX;
        let y = e.changedTouches[0].pageY;
        if (e.target == gallery) {
            startX = x;
            e.stopPropagation();
        }
    }

    function handleTouchEnd(e) {
        if (startX === null) {
            return;
        }
        let endX = e.changedTouches[0].pageX;
        let xDiff = endX - startX;
        if (xDiff > 50) {
            prevPicture();
        } else if (xDiff < -50) {
            nextPicture();
        }
        e.stopPropagation();
    }
</script>