<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body" style="position: absolute;top: 80%;left: 50%;transform: translate(-50%, -50%);">
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle showcase-description has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
      </h3>
      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Mehr Lesen</a>
    </div>
  </div>
  <div class="has-text-white has-text-centered has-background-chocolate" style="font-size: 2rem; z-index: 1;">
    <div style="min-height: 3.25rem;"></div>
    Ihm Rahmen der Europäischen Kunsthandwerkstage (<a class="link-dark" href="https://kunsthandwerkstage.de">ETAK</a>) öffnen wir unsere Werkstatt
    <div class="has-text-weight-bold" style="font-size: 2.5rem;">am 4. und 5. April,</div>
    von 9:00 bis 18:00 Uhr für alle Interessierten.
  </div>
</section>